 /*page background */
body {
    background-color: rgb(128, 128, 128);
    font-family: "Libre Baskerville", serif;
    text-align: center
  }
  /*background text style*/
 p{
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
  }

  /* schoolidentity styling*/

  .our-school {
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    border: 0px solid  blue;
    }

  /* our impact styling*/
  .our-impact {
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    border: 0px solid  blue;
   }
 
  /* our impact styling*/
  .our-impact2 {
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    border: 0px solid  blue;
   }
 
  /*aligning photos */
 
  /* size of image*/

  /* align from left */
  img {
    width: 32%;
    float:left;
    margin-right:5px;
    margin-top:1%;
    padding:3px;
  }
/* Clearfix (clear floats) */
  .our-school::after {
    content: "";
    clear: both;
    display: table;
  }
 
  /* Clearfix (clear floats) */
  .our-school::after {
    content: "";
    clear: both;
    display: table;
 
   /* box for meetings  */
    .meeting {
    border: 00px solid  blue;
    width: 100%;
    text-align: center;
    margin-left: 1%;
  }
